{% extends "base.j2" %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="columns is-centered is-multiline is-mobile">
                {% for gridElem in hotgrid %}
                    <div class="column is-2">
                        <div id="grid-{{ loop.index }}" class="box is-dark" {% if gridElem.enabled == True %}onclick="activateGridElement({{ loop.index }})"{% endif %}>
                            <figure class="image is-square">
                                <img src="{{ gridElem.icon_image }}" /> 
                            </figure>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div id="config-modal" class="modal">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Configure HotGrid</p>
                </header>
                <section class="modal-card-body">
                    <div class="content">
                        <div class="columns">
                            <div class="column is-half">
                                <div class="field">
                                    <label class="label">Select Element</label>
                                    <div class="control">
                                        <div class="select">
                                            <select id="element-select">
                                                {% for gridElem in hotgrid %}
                                                <option value="{{ loop.index }}">{{ loop.index }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">HotGrid Action</label>
                                    <div class="control">
                                        <div class="select">
                                            <select id="action-select">
                                                <option value="" selected>Select an Action</option>

                                                {% for action in hotgrid_actions %}
                                                <option value="action{{ loop.index }}">{{ action }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <div class="file">
                                            <label class="file-label">
                                                <input id="element-icon" class="file-input" type="file" name="resume" />
                                                <span class="file-cta">
                                                    <span id="element-icon-label" class="file-label">Choose an icon...</span>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class="column is-half">
                            <div id="config-fields" hidden>
                            {% for action in hotgrid_action_fields %}
                                {% set actionloop = loop %}
                                {% for field in action %}
                                    <div id="action{{ actionloop.index }}" class="control">
                                        <label class="label is-inline">{{ field['name'] }}</label>
                                        <input class="input" type="{{ field['type'] }}" name="{{ field['field'] }}" />
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </section>
                <footer class="modal-card-foot" style="justify-content: flex-end">
                    <button id="config-modal-save" class="button is-success" hidden>Save</button>
                    <button id="config-modal-close" class="button">Cancel</button>
                </footer>
            </div>
        </div>
    </section>

    <script src="/static/js/hotgrid.js"></script>
{% endblock %}