<nav class="navbar is-fixed-bottom" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
            <div class="buttons">
                <a id="config-btn" class="button">
                    Config
                </a>
            </div>
    </div>
</nav>